@page "/ReportTest"
@rendermode InteractiveServer
@using DataModel
@using Enterprise.Reporting

<PageTitle>Report Test</PageTitle>

<h1>My Table</h1>

@if (!init)
{
    <p><em>Loading...</em></p>
}
else
{
    @Report
}


@code {
    bool init = false;
    RenderFragment Report { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
       
        Report +=@<table class='table'> 
                    <thead>
                    <tr>
                        <th @onclick='UpdateReport'>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Enumerable.Range(0,4))
                        {
                            <tr>
                            <td>@i</td>
                            <td>@i</td>
                            <td>@i</td>
                            <td>@i</td>
                            </tr>
                        }
                    </tbody>
                  </table>;
                  

        Report = Reporting.Create<TransactionalData>([]).GetReport();

        init = true;
    }

    private async Task UpdateReport() 
    {
        init = false;
        InvokeAsync(StateHasChanged);
    }
}
